[submodule "stow/common/nvim/.config/nvim/pack/plugins/start/mini.icons"]
	path = stow/common/nvim/.config/nvim/pack/plugins/start/mini.icons
	url = https://github.com/nvim-mini/mini.icons
[submodule "stow/common/nvim/.config/nvim/pack/plugins/start/mini.pick"]
	path = stow/common/nvim/.config/nvim/pack/plugins/start/mini.pick
	url = https://github.com/nvim-mini/mini.pick
[submodule "stow/common/nvim/.config/nvim/pack/github/start/copilot.vim"]
	path = stow/common/nvim/.config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "stow/common/nvim/.config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = stow/common/nvim/.config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "stow/common/nvim/.config/nvim/pack/nvim/start/nvim-treesitter"]
	path = stow/common/nvim/.config/nvim/pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "stow/common/tmux/.tmux/plugins/tmux-resurrect"]
	path = stow/common/tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "stow/common/tmux/.tmux/plugins/tmux-open"]
	path = stow/common/tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
